@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-fundo: #1e252d;
    --cor-destaque: #cc9e3e;
    --cor-texto: #F6F6F6;
    --cor-qudrado: #77878B;
    --sombra-caixa: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body{ /* para chamar uma tag usamos o próprio nome da tag*/
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    /*height: 100vh;  serve para ocupar tuda a tela */
    box-sizing: border-box; /* faz com que o padding e a borda sejam incluídos na largura e altura totais do elemento */
}

.cabecalho{
  padding: 2% 0 0 10%;
}

.cabecalho__menu{
  display: flex;
  gap: 80px;
}
.cabecalho__menu__link{
  position: relative;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  color: var(--cor-destaque);
  transition: transform 0.5s;
}

.cabecalho__menu__link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 2px;
  background-color: var(--cor-destaque);
  transition: transform 0.5s ease;
}
.cabecalho__menu__link:hover{
  transition: 0.5s;
  font-weight: 700;
  transform: scale(1.07);
}
.cabecalho__menu__link:hover::after{
  transform: translateX(-50%) scaleX(1);
}

.destaqueTitulo{ /* Para chamar classes usamos o .nome-classe ou a a tag: tag.nomedaclasse ou então mais de uma classe: tag.nomeclasse.outraclasse*/
  color: var(--cor-destaque);
}

/*para chamr id deve usar o #valor_id {propriedades} ou também pela tag#valor_id
  span#identificador {propriedades}
*/

*{ /* o "*" significa todos os elementos da página*/
    margin: 0;
    padding: 0;
}

.apresentacao{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7% 10%;
}

.apresentacao__imagem img{
  width: 600px;
  height: 600px;
}

.apresentacao__conteudo{
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.apresentacao__conteudo__titulo{
  font-size: 36px;
  font-family: krona one, sans-serif;
}

.apresentacao__conteudo__parag{
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

.apresentacao__conteudo__links{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 32px;
} 
.apresentacao__conteudo__links__subtitulo{
  font-family: 'krona one', sans-serif;
  font-weight: 400;
  font-size: 24px;
}
.apresentacao__conteudo__botão{
  border: var(--cor-destaque) 2px solid;
  width: 378px;
  text-align: center;
  border-radius: 8px;
  font-size: 24px;
  padding: 21.5px 0;
  text-decoration: none;  
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: var(--cor-texto);
  transition: 0.2s;
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
}

.apresentacao__conteudo__botão:hover{
  background-color: var(--cor-destaque);
  color: var(--cor--fundo);
  transition: 0.2s;
  font-weight: 700;
  transform: scale(1.07);
}

.rodape{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: var(--cor-destaque);
  padding: 24px;
  font-size: 36px;
  font-weight: 300;

}

.quadrado{
  display: flex;
  background-color: var(--cor-fundo);
  box-shadow: var(--sombra-caixa);
  width: 900px;
  height: 288px;
  margin: 3% auto;
  justify-content: space-between;
}

.quadrado__titulo{
  font-family: 'montserrat', sans-serif;
}

.quadrado__subtitulo{
  font-family: 'montserrat', sans-serif;
  font-weight: 300;
  margin-top: -7px;
}

.quadrado__contatos{
  padding: 3% 4%;;
}

.quadrado__contatos__lista{
  list-style: none;
  display: flex;
  gap: 8px;
  flex-direction: column;
  margin-top: 20px;
}

.contatos-lista{
  text-decoration: none;
  font-family: 'montserrat', sans-serif;
  color: var(--cor-texto);
}

.contatos-lista:hover{
  transition: 0.3s;
  font-weight: 600;
  transform: scale(1.01);
}

.quadrado_link{
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: var(--cor-texto);
  text-align: center;
}

.curriculoIcon{
  font-size: 18px;   /* tamanho do ícone */
  width: 20px;       /* largura mínima */
  margin: 0;         /* tira o margin-top que desalinhava */
}

.quadrado_perfil{
  width: 288px;
  height: 288px;
  border-radius: 800px 0 0 800px;
  box-shadow: var(--sombra-caixa);
}
